.chat__main
  .chat__header 
    .chat__header__name
      groups name
      .chat__header__member
        Member:
    .chat__header__edit-btn
      Edit
  .chat__contents
    .chat__contents__member
      .chat__contents__name
        name
      .chat__contents__time
        time
    .chat__contents__message
      message
  .chat__form
    .chat__form__box
      .chat__form__box__contents
        %input.chat__form__box__contents__new--message{:name => "message", :placeholder => "type a message", :type => "text", :value =>""}/
        %label{class: "chat__form__box__contents__new--image"}
          =icon('fas', 'image')
          %input{type: "file", class: "chat__form__box__contents__file--input"}
      .chat__form__box__btn
        %input.chat__form__box__btn--send{:name => "commit", :type => "submit", :value => "Send"}
    