.side__bar
  .chat__top
    .chat__top__name
      name
    .chat__top__icon
      .icon
        = link_to "#" do
          = icon('fas', 'edit')
        = link_to '#' do
          = icon('fas', 'cog')
  .chat__groups
    .chat__group
      .chat__group__name
        テスト
      .chat__group__message
        まだメッセージはありません