.header 
  .header__name
    groups name
  .header__member
    Member:
  .header__edit-btn
    Edit

.main
  .main__box
    .main__box__name
      name
    .main__box__top
      time
  .main__message
    message