.top
  .top__name
    name
  .top__icon
    .icon
      = link_to "#" do
        = icon('fas', 'edit')
      = link_to '#' do
        = icon('fas', 'cog')

.groups
  .group
    .group__name
      テスト
    .group__message
      まだメッセージはありません
  