.side__bar {
  float: left;
  width: 300px;
}

.chat__top {
  height: 100px;
  background-color: #253141;
  padding: 0 20px 0 20px;
  align-items: center;
  display: flex;
  &__name {
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
  }
  &__icon {
    margin-left: auto;
  }
  .fa-edit {
    color: white;
  }
  .fa-cog {
    color: white;
  }
}
.chat__groups{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  .chat__group {
    padding: 20px 20px 40px 20px;
    &__name {
      font-size: 15px;
      font-weight: bold;
      color: #ffff;
      padding-bottom: 5px;
    }
    &__message {
      font-size: 11px;
      font-weight: bold;
      color: #ffff;    
    }
  }
}