.chat__header {
  box-sizing: border-box;
  height: 110px;
  width: calc(100vw - 300px);
  border: #eeeeee;
  padding-top: 35px;
  display: flex;
  &__name {
    font-size: 20px;
    color: #333333;
    padding-bottom: 15px;
  }
  &__member {
    font-size: 12px;
    color: #999999;
  }
  &__edit-btn {
    background-color: #ffffff;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: auto;
    padding: 0 20px;
  }
  
}

.chat__main {
  box-sizing: border-box;
  width: calc(100vw - 300px);
  background-color: #fafafa;
  padding: 46px 0 0 40px;
  display: flex;
  &__box__name {
    font-size: 16px;
    font-weight: bold;
    color: #434A54;
    padding-right: 10px;

  }
  &__box__time {
    font-size: 12px;
    color: #999999;

    
  }
  &__message {
    font-size: 14px;
    color: #434A54;
  }
}
